<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <!--加载配置文件-->
    <context:property-placeholder location="classpath:properties/rabbitmq.properties"/>

    <!-- 定义rabbitmq connectionFactory -->
    <rabbit:connection-factory id="connectionFactory" host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"
                               virtual-host="${rabbitmq.virtual-host}"/>
    <!--定义管理交换机、队列-->
    <rabbit:admin connection-factory="connectionFactory"/>

<!--    声明一个简单模式的队列 简单模式只有队列
交换机名字为"" 类型为direct 队列名称为spring_simple_queue 标识符为text_spring_simple_queue
 简单模式不需要绑定交换机,不需要绑定,使用默认的交换机,默认的交换机类型为direct,名字为"",精准查询交换机 路由key默认为队列名
 auto-declare属性:当设置为true或者不写时,默认为true,会自动创建队列-->
    <rabbit:queue id="text_spring_simple_queue" name="spring_simple_queue" auto-declare="true">
    </rabbit:queue>


    <!--        测试广播模式的队列-->
    <rabbit:queue id="text_spring_fanout_queuq1" name="spring_fanout_queue1">

    </rabbit:queue>
    <rabbit:queue id="text_spring_fanout_queuq2" name="spring_fanout_queue2">

    </rabbit:queue>
<!--    声明广播模式的交换机-->
    <rabbit:fanout-exchange name="spring_fanout_exchange"
                            id="text_spring_fanout_exchange">
<!--        绑定队列-->
        <rabbit:bindings>
<!--            queue属性,绑定的是队列的id值-->
            <rabbit:binding queue="text_spring_fanout_queuq1"></rabbit:binding>
            <rabbit:binding queue="text_spring_fanout_queuq2"></rabbit:binding>
        </rabbit:bindings>
    </rabbit:fanout-exchange>


    <!--定义rabbitTemplate对象操作可以在代码中方便发送消息-->
    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"/>
</beans>